<!--
<img src="/images/pug.jpeg" alt="This is a cute pug." width="104" height="142">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<input type="text" maxlength="4" size="4">
-->
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title>gradecalc</title>

  <script>
  function calcluateGrades() {
    var mark1 = parseInt($("#mark1").val());
    var grade1 = parseInt($("#grade1").val());
    var mark2 = parseInt($("#mark2").val());
    var grade2 = parseInt($("#grade2").val());
    var finalMark = ((mark1 * (grade1/100)) + (mark2 * (grade2/100))).toFixed(1);
    $("#finalGrade").html(finalMark + "%");
    getMarks();
  }
  function getMarks() {
    var arrayOfMarks = $(".marks");
    $.each(arrayOfMarks , function(index, value){
     console.log(index + ':' + value);
    });
  /*  console.log(arrayOfMarks[0].value);
    console.log(arrayOfMarks[1].value);
    console.log(arrayOfMarks[2].value);
    */
  }

  </script>

</head>
<body>
  <h1> Welcome to gradecalc! </h1>
  <p> Please input your grades below </p>
  <div id="the-grades" >
    <table>
      <tr>
        <th>Your grade</th>
        <th>% of grade</th>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark1" maxlength="8" size="10" placeholder="ex 22/30">
        </td>
        <td>
          <input type="text" class="grades" id="grade1" maxlength="8" size="10" placeholder="ex 50">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark2" maxlength="8" size="10">
        </td>
        <td>
          <input type="text" class="grades" id="grade2" maxlength="8" size="10">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark3" maxlength="8" size="10">
        </td>
        <td>
          <input type="text" class="grades" id="grade3" maxlength="8" size="10">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark4" maxlength="8" size="10">
        </td>
        <td>
          <input type="text" class="grades" id="grade4" maxlength="8" size="10">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark5" maxlength="8" size="10">
        </td>
        <td>
          <input type="text" class="grades" id="grade5" maxlength="8" size="10">
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" class="marks" id="mark6" maxlength="8" size="10">
        </td>
        <td>
          <input type="text" class="grades" id="grade6" maxlength="8" size="10">
        </td>
      </tr>
    </table>
  </div>
  <button type="button" id="markButton" onclick="calcluateGrades()" class="btn btn-default">What's my mark?</button>
  <div id="finalGrade"> </div>
</body>
</html>
