<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="A simple, free and easy way to calculate your final grade. GradeCalc
    allows you to save your classes and grades on your account so you don't have to retype them time and time again.">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69193468-2', 'auto');
        ga('send', 'pageview');
    </script>
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>GradeCalc - Your Simple Final Grade Calculator</title>
    <script>
        var user=[],li;function calcluateGrades(){var a=getMarks(),c=getGrades(),b=0,d=0,e=0;if(a.length==c.length)for(d=0;d<a.length;d++)b+=c[d]/100*a[d],e+=c[d];else error();d=b/e*100;isNaN(d)&&(d=0);isNaN(b)&&(b=0);100<e?$("#totalGrade").html("N/A"):$("#totalGrade").html(b.toFixed(2)+"%");$("#currentGrade").html(d.toFixed(2)+"%")}function error(){console.log("A grade or mark is missing")}
        function getMarks(){var a=$(".marks"),c=[],b=0;$.each(a,function(a,e){var f=e.value.trim();""!==f&&(c[b]=parseFloat(f));b++});return c}function getGrades(){var a=$(".grades"),c=[],b=0;$.each(a,function(a,e){var f=e.value.trim();""!==f&&(c[b]=parseFloat(f));b++});return c}
        function addNewRow(){var a;a='<div class="table-row">                    <div class="table-cell"> <input type="text" class="marks form-control" maxlength="8" > </div>';a+='<div class="table-cell"> <input type="text" class="grades form-control" maxlength="8" > </div>';a+="</div>";$("#table-of-grades").append(a)}function addKeyListeners(){var a=$(".form-control"),c=a[a.length-2],b=!1;a.off("keypress");$(c).keypress(function(){0==b&&(addNewRow(),b=!0,addKeyListeners())})}
        $(window).load(function(){addKeyListeners();var a=$(".main-nav");a.on("click",function(c){$(c.target).is(a)&&a.children("ul").toggleClass("is-visible")});$(document).keypress(function(a){13==a.which&&$("#markButton").click()})});function clearTextBoxes(a){$("#"+a).find("input:text").each(function(){$(this).val("")})};
    </script>
</head>
<body>
<header role="banner">
    <!--<div id="cd-logo"><a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a></div>-->
    <div id="cd-logo"><h1 href="/" style="color: ghostwhite; margin-top: auto">GradeCalc.co</h1></div>
    <nav class="main-nav">
        <ul>
            <li><a class="cd-signin" href="/login">Sign in</a></li>
            <li><a class="cd-signup" href="/register">Sign up</a></li>
        </ul>
    </nav>
</header>
<div class="alert alert-info text-center" role="alert"> <a href="/register" class="alert-link">Create an account to save your grades and classes!</a>  </div>
&nbsp;
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-xs-12 text-center">
            <div id="content">
                <div id="table-of-grades">
                    <div class="table-row">
                        <div class="table-cell"> <h4 class="text-center">Your Grade</h4> </div>
                        <div class="table-cell"> <h4 class="text-center">Weight</h4> </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark1" maxlength="8" placeholder="ex 75.6"> </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade1" maxlength="8" placeholder="ex 50"> </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark2" maxlength="8"  placeholder="ex 88"> </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade2" maxlength="8"  placeholder="ex 30"> </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark3" maxlength="8" placeholder="ex 91.23"></div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade3" maxlength="8" placeholder="ex 5"></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark4" maxlength="8" > </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade4" maxlength="8" > </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark5" maxlength="8" > </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade5" maxlength="8" > </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" id="mark6" maxlength="8" > </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" id="grade6" maxlength="8" > </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"> <input type="text" class="marks form-control" maxlength="8" > </div>
                        <div class="table-cell"> <input type="text" class="grades form-control" maxlength="8" > </div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-button"> <button type="button" id="markButton" onclick="calcluateGrades()" class="btn btn-default btn-block">What's my mark?</button> </div>
                </div>
                <div class="table-row" >
                    <div class="table-cell"> <h4 class="text-left" >Current grade:</h4> </div>
                    <div class="table-cell"> <h4 class="text-right" id="currentGrade"> 0.00%</h4> </div>
                </div>
                <div class="table-row" >
                    <div class="table-cell"> <h4 class="text-left" > Final grade: </h4> </div>
                    <div class="table-cell"> <h4 class="text-right" id="totalGrade"> 0.00% </h4> </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</div>
<!--<footer>
    <h6 class="text-left" style="padding-left: 1%; padding-top: 1%"></h6>
</footer>-->
</body>
</html>
