.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.some-margin {
    margin-left: 0px;
    margin-right: -15px;
}
.btn-default {
    color: #ffffff;
    background-color: #2F88AA;
    border-color: #FFFFFF;
}

.centered {
    width:300px;
    margin: 0 auto;
}


.btn-default:focus,
.btn-default.focus {
/*    color: #ffffff;
    background-color: #343642;
    border-color: #FFFFFF;*/
}
.btn-default:hover {
    /*color: #ffffff;
    background-color: #343642;
    border-color: #FFFFFF;

    makes things a little larger and nicer
    position: fixed;
    width: 100%;
    height: 100%;
    */
}

.btn-sp-green {
    background: #2F88AA;
    border-radius: 0px;
}

.alert {
    font-size: 18px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: normal;
}

h5, .h5 {
    font-size: 17px;
}

footer {
    position: relative;
    background: #343642;
    color: #FFF;
}